:root{
    --color-primario:white;
    --color-secundario:black
}
*{
    margin: 0;
    pad: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(28, 34, 74); */
    color:var(--color-secundario);
    background-color:var(--color-primario);
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* menu */


.contenedorMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
 
}

.contenedorBurger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 5%;
    background-color: lightgray;
    position: absolute;
    /* border-top-left-radius: 20px; */
    border-top-right-radius: 20px;
    
    left: 0;
}


.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.menuOpciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0 20px 0;
    width: 5%;
    height: 300px;
    background-color: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: -100px;
    top: 130px;
    transition: 0.5s;
}


.menuOpciones div {
    display: flex;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}


.menuOpciones div:hover {
    transform: translateX(20px);
    background-color: aquamarine;
    color: white;
    cursor: pointer;

    transition: transform 0.5s;
}

.mostrar{
    position: absolute;
    left: 0;
    transition: 0.5s;
}

/* proyector */
.proyectos{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    gap: 15px;
    width: 70%;

}

.proyecto{
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    background-color: aqua;
    overflow: hidden;
}
.proyecto:hover{
    cursor: pointer;
    
}
.proyecto img{
    width: 100%;
    height: 100%;
}
.proyecto img:hover{
    transform: scale(1.2);
    transition: transform 1s;
}